[submodule "bin/tmux-nix-finder"]
	path = bin/tmux-nix-finder
	url = https://github.com/LightJack05/tmux-nix-finder
[submodule "bin/tmux-git-cloner"]
	path = bin/tmux-git-cloner
	url = https://github.com/LightJack05/tmux-git-cloner
[submodule "bin/tmux-git-finder"]
	path = bin/tmux-git-finder
	url = https://github.com/LightJack05/tmux-git-finder
[submodule "bin/tmux-sessionizer"]
	path = bin/tmux-sessionizer
	url = https://github.com/LightJack05/tmux-sessionizer
[submodule "bin/tmux-scratchpad"]
	path = bin/tmux-scratchpad
	url = https://github.com/LightJack05/tmux-scratchpad.git
