.config/blender
.config/nvim/plugin
.config/pdfarranger
.config/nvim/lazy-lock.json
.config/hypr/hyprland-device-config
.config/onedrive
.local/share/icons
.config/hypr/display.conf
.config/GIMP/
.config/Code/
.config/torbrowser/
state/*
chromium/
dconf/
gh/
hypr/workspaces.conf
nwg-displays/
nwg-look/
user-dirs.dirs
user-dirs.locale
xsettingsd/
.config/qt5ct/
.config/qt6ct/
.config/unity3d/
.config/zed/
.config/github-copilot/
.config/gtk-4.0/assets
.config/heaptrack_gui
.config/htop
.config/VirtualBox
.config/QtProject.conf
.config/.gsd-keyboard.settings-ported
.config/fcitx5/
.config/go/
.config/ibus/
.config/libreoffice/
.config/mimeapps.list
.config/pavucontrol.ini
.config/wireshark/
.config/helm
.config/gtk-3.0/bookmarks
.config/Meltytech
.config/Pinta
.config/Thunar
.config/obs-studio
.config/vifm
.config/xfce4
.ssh/*id*
.config/totem/*
.config/Raspberry Pi/*
.local/share/applications
