.config/nvim/plugin
.config/onedrive
.local/share/icons
.config/hypr/display.conf
.config/GIMP/
.config/Code/
.config/torbrowser/
state/*
chromium/
dconf/
gh/
hypr/workspaces.conf
nwg-displays/
nwg-look/
user-dirs.dirs
user-dirs.locale
xsettingsd/
.config/qt5ct/
.config/qt6ct/
.config/unity3d/
.config/zed/
.config/github-copilot/
.config/gtk-4.0/assets
.config/heaptrack_gui
.config/htop
.config/VirtualBox
.config/QtProject.conf
.config/.gsd-keyboard.settings-ported
.config/fcitx5/
.config/go/
.config/ibus/
.config/libreoffice/
.config/mimeapps.list
.config/pavucontrol.ini
.config/wireshark/
