* {
	border: none;
	min-height: 0;
	font-family: Material Design Icons, Roboto;
	font-weight: bold;
	font-size: 13px;
	opacity: 1;
}

window#waybar {
	background-color: transparent; /* Optional: use #1e1e2e for solid */
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#backlight,
#temperature,
#tray,
#custom-swaync,
#custom-logo,
#power-profiles-daemon,
#bluetooth,
#workspaces,
#workspaces button,
#submap,
#hyprland-window {
	all: initial;
	border-radius:17px;
	margin: 1px 1px;
	padding: 2px 12px;
	color: #cdd6f4; /* text */
	font-family: Material Design Icons, Roboto;
	font-weight: bold;
	background-color: rgba(10,10,10, 0.8); /* surface0 with transparency */
	font-size: 12px;
    border: 1.5px solid rgba(60,60,60,0.8);
}

#workspaces {
	padding-left: 3px;
	padding-right: 3px;
}

#workspaces button {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
	animation-name: switchFrom;
	animation-duration: 0.1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-direction: alternate;
	min-width: 14px;
    border: none;
}

#workspaces button.active {
	animation-name: switchTo;
	animation-duration: 0.1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-direction: alternate;
}

#workspaces button:hover {
	color: #89b4fa; /* base */
	background-color: rgba(50,50,50,1); /* subtext1 */
}

#workspaces button.urgent {
	background-color: #f38ba8; /* red */
}

@keyframes switchFrom {
	to {
        padding-top: 5px;
	    background-color: transparent; /* surface0 with transparency */
	}
}

@keyframes switchTo {
	to {
        padding-top: 5px;
		background-color: #89b4fa; /* blue */
		color: #1e1e2e; /* base */
		padding-left: 13px;
		padding-right: 13px;
	}
}

#backlight {
	padding-right: 15px;
}

#custom-swaync {
	font-size: 15px;
	padding: 1px 18px 1px 15px;
}

#power-profiles-daemon {
	padding-right: 18px;
}

@keyframes blink {
	to {
		background-color: #cba6f7; /* mauve */
		color: #1e1e2e; /* base */
	}
}

#battery.warning {
	background-color: #fab387; /* peach */
	color: #1e1e2e;
}

#battery.critical,
#battery.urgent {
	color: #1e1e2e;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.charging {
	background-color: #a6e3a1; /* green */
	animation-name: none;
	color: #1e1e2e;
}

/* Submaps */
#submap {
	font-size: 13px;
    padding-top: 5px;
}

#submap.NORMAL {
	color: #89b4fa; /* blue */
}

#submap.OP-PENDING {
	color: #f38ba8; /* red */
}

#submap.RESIZE {
	color: #a6e3a1; /* green */
}

#submap.MOVE {
	color: #94e2d5; /* teal */
}

#submap.WORKSPACE {
	color: #f5c2e7; /* pink */
}
